.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 500px;
  background-color: #fff;
  border: 2px solid #fe4164;
}

.header , .footer {
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.title {
  margin: 0;
}

.body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
